body {
  background-color: beige;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the body takes up the full height of the viewport */
  margin: 0;
}

form {
  max-width: 350px;
  margin: auto;
  background-color: #b9cfe8;
  text-align: center;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 1px 0px 12px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 0px 12px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 0px 12px 3px rgba(0, 0, 0, 0.35);
}

#userInput {
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1.1em;
}

/* For Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#submitButton {
  height: 40px; /* Increase the height for better visual appearance */
  width: 150px;
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  margin: auto;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
}

#submitButton,
#toFarenhite,
#toCelcius {
  cursor: pointer;
}
